@import "tailwindcss";
@plugin "daisyui";

.status-card {
    text-align: center;
    background-image: 
    linear-gradient(90deg, #4ade80, #10b981);       
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.status-card::before,.status-card-right::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('./assets/vector1.png') center/cover no-repeat;
    opacity: 0.3;
    border-radius: 10px;
}

.status-card-right{
     text-align: center;
    background-image: 
    linear-gradient(90deg, #9F62F2, #632EE3);       
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

